body {
  background-color: #f3e3d2;
  text-align: center;
}

h1,
p {
  color: #744c22;
}
a {
  color: #9b6b42;
}

.footer-link {
  margin-top: 10px;
  margin: 10px;
}
.croissant-photo {
  max-width: 80%;
  border-radius: 10px;
  display: inline-block;
  margin: 30px, auto;
}
